@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #ffffff;
  background: #696969;
}
nav {
  position: fixed;
  background: #585858;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.logo img {
  width: 80px;
  height: 80px;
  margin-left: 60px;
  vertical-align: right;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 10;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #0066ff;
  color: rgb(255, 255, 255);
}
.img {
  background: url("SmartHome.jpg");
  width: 100%;
  height: 100vh;
  background-size: fill;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.img2 {
  background: url("3644286.jpg");
  width: 100%;
  height: 100vh;
  background-size: fill;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
#username, #email, #password, #confirm-password {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

#username:focus, #email:focus, #password:focus, #confirm-password:focus {
  outline: none;
  border-bottom: 1px solid white;
}
.img3 {
  background: url("272327.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.img4 {
  background: url("wp8699462 (1).jpg");
  width: 100%;
  height: 100vh;
  background-size: fill;
  background-position: center;
}
.img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
}
.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title {
  color: #0044ff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns {
  margin-top: 20px;
}
.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child {
  color: #0091ff;
  background: none;
}
.btns button:first-child:hover {
  background: rgb(0, 96, 251);
  color: rgb(0, 0, 0);
}
.center .btns button:last-child {
  background: rgb(0, 89, 255);
  color: black;
}
.text-bold {
  font-weight: bold;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #ffffff;
}

.text-large {
  font-size: 24px;
}

.text-medium {
  font-size: 18px;
}

.text-small {
  font-size: 12px;
}

.text-blue {
  color: #007bff;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-blue {
  background-color: #007bff;
  color: #ffffff;
}
